@media (max-width:688px) {
.container{
    width: 100%;
}
.players, .blogs, .courses{
    grid-template-columns: repeat(1, 1fr);
}
.player, .blog, .course{
    flex-direction: column;
    text-align: center;
}
}

/* ---------------------------
tablet devices
----------------------------- */
@media (min-width:690px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players,  .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .player, .course{
        flex-direction: column;
        text-align: center;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}