body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;

}
.section-title{
    color: #562EFF;
    font-size: 24px;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFF;
    width: 870px;
    
}
